<style>
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    li {
        margin: 10px;
    }
</style>
<nav>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Error 404</li>
    </ul>
</nav>